.featuresPage{


    .sectionsPageSpacing{

        .featureCaption{
            text-align: center;
            font-size: 100px;
            font-family: "Roboto", sans-serif;
        }

        
        .secondDivision{
            
            .latestGallery{
                overflow: auto;
                display: flex;
                gap: 40px;

                .gallSec{

                    img{
                        border-radius: 1.5rem;
                        width: 300px;
                    }

                }


            }


        }


        .firstDivision{
            
            .latestGallery{
                overflow: auto;
                display: flex;
                gap: 40px;

                .gallSec{

                    img{
                        border-radius: 1.5rem;
                        width: 300px;
                    }

                }


            }


        }

        .firstDivision .latestGallery{

            h1{
                padding: 40px;
            }
        }

        .firstDivision, .secondDivision{
            h2{
                font-size: 30px;
                padding: 40px;
            }
        }

        .firstDivision, .secondDivision{
            font-family: "Roboto", sans-serif;
        }

        .secondDivision{
            margin-top: 100px;
        }

        .firstDivision .latestGallery::-webkit-scrollbar , .secondDivision .latestGallery::-webkit-scrollbar { 
            display: none; 
        }

    }


}

.secondDivision{
    
    .latestGallery{
    }

}


.firstDivision{
    h2{
        text-align: left;
    }
    
}


.secondDivision{
    h2{
        text-align: right;
    }

    hr{
        padding: 40px;
    }
}

hr.spaceOut{
        margin: 40px;
        visibility: hidden;
}

.dockMenu{

}

.backTop{
    position: fixed;
    z-index: 9;
    bottom: 40px;
    right: 40px;

    button{
        width: 100px;
        height: 100px;
        border: none;
        border-radius: 50rem;
        font-size: 20px;

        i{
            color: rgba(0, 0, 0, 0.519);
        }

    }
}

.featureCaption{
    font-size: 50px !important;
}